<?xml version="1.0" encoding="utf-8"?>
<devices>
  <imeicode imei="869162026923886">
    <url>https://raw.githubusercontent.com/shreenathsugar/HPA_XML/master/869162026923886.xml</url>
    <version>1</version>
    <rstart>1224222</rstart>
    <rend>1228100</rend>
  </imeicode>
  <imeicode imei="352742069470269">
    <url>https://raw.githubusercontent.com/shreenathsugar/HPA_XML/master/352742069470269.xml</url>
    <version>1</version>
    <rstart>1254101</rstart>
    <rend>1258600</rend>
  </imeicode>
  <imeicode imei="862738031738893">
    <url>https://raw.githubusercontent.com/shreenathsugar/HPA_XML/master/862738031738893.xml</url>
    <version>1</version>
    <rstart>1355601</rstart>
    <rend>1356100</rend>
  </imeicode>
  <imeicode imei="357067063403883">
    <url>https://raw.githubusercontent.com/shreenathsugar/HPA_XML/master/357067063403883.xml</url>
    <version>1</version>
    <rstart>1267601</rstart>
    <rend>1270100</rend>
  </imeicode>
  <imeicode imei="865645022962142">
    <url>https://raw.githubusercontent.com/shreenathsugar/HPA_XML/master/865645022962142.xml</url>
    <version>1</version>
    <rstart>1270101</rstart>
    <rend>1275100</rend>
  </imeicode>
  <imeicode imei="359648063892866">
    <url>https://raw.githubusercontent.com/shreenathsugar/HPA_XML/master/359648063892866.xml</url>
    <version>1</version>
    <rstart>1355101</rstart>
    <rend>1355600</rend>
  </imeicode>
  <imeicode imei="868518021453370">
    <url>https://raw.githubusercontent.com/shreenathsugar/HPA_XML/master/868518021453370.xml</url>
    <version>1</version>
    <rstart>1285101</rstart>
    <rend>1291100</rend>
  </imeicode>
  <imeicode imei="356044061108633">
    <url>https://raw.githubusercontent.com/shreenathsugar/HPA_XML/master/356044061108633.xml</url>
    <version>1</version>
    <rstart>1317615</rstart>
    <rend>1318600</rend>
  </imeicode>
  <imeicode imei="356044060310578">
    <url>https://raw.githubusercontent.com/shreenathsugar/HPA_XML/master/356044060310578.xml</url>
    <version>1</version>
    <rstart>1317101</rstart>
    <rend>1317600</rend>
  </imeicode>
  <imeicode imei="352672079505038">
    <url>https://raw.githubusercontent.com/shreenathsugar/HPA_XML/master/352672079505038.xml</url>
    <version>1</version>
    <rstart>1249601</rstart>
    <rend>1254100</rend>
  </imeicode>
  <imeicode imei="359648068854721">
    <url>https://raw.githubusercontent.com/shreenathsugar/HPA_XML/master/359648068854721.xml</url>
    <version>1</version>
    <rstart>1216101</rstart>
    <rend>1216600</rend>
  </imeicode>
  <imeicode imei="911407303425644">
    <url>https://raw.githubusercontent.com/shreenathsugar/HPA_XML/master/911407303425644.xml</url>
    <version>1</version>
    <rstart>1318601</rstart>
    <rend>1324600</rend>
  </imeicode>
  <imeicode imei="867725027354574">
    <url>https://raw.githubusercontent.com/shreenathsugar/HPA_XML/master/867725027354574.xml</url>
    <version>1</version>
    <rstart>1220101</rstart>
    <rend>1223600</rend>
  </imeicode>
  <imeicode imei="358827060269507">
    <url>https://raw.githubusercontent.com/shreenathsugar/HPA_XML/master/358827060269507.xml</url>
    <version>1</version>
    <rstart>1236101</rstart>
    <rend>1240600</rend>
  </imeicode>
  <imeicode imei="355596061702617">
    <url>https://raw.githubusercontent.com/shreenathsugar/HPA_XML/master/355596061702617.xml</url>
    <version>1</version>
    <rstart>1275101</rstart>
    <rend>1277600</rend>
  </imeicode>
  <imeicode imei="911454751096923">
    <url>https://raw.githubusercontent.com/shreenathsugar/HPA_XML/master/911454751096923.xml</url>
    <version>1</version>
    <rstart>1216601</rstart>
    <rend>1220100</rend>
  </imeicode>
  <imeicode imei="911407303423631">
    <url>https://raw.githubusercontent.com/shreenathsugar/HPA_XML/master/911407303423631.xml</url>
    <version>1</version>
    <rstart>1324601</rstart>
    <rend>1326600</rend>
  </imeicode>
  <imeicode imei="354699069404094">
    <url>https://raw.githubusercontent.com/shreenathsugar/HPA_XML/master/354699069404094.xml</url>
    <version>1</version>
    <rstart>1258601</rstart>
    <rend>1261600</rend>
  </imeicode>
  <imeicode imei="869041027771223">
    <url>https://raw.githubusercontent.com/shreenathsugar/HPA_XML/master/869041027771223.xml</url>
    <version>1</version>
    <rstart>1297101</rstart>
    <rend>1303100</rend>
  </imeicode>
  <imeicode imei="911407306368148">
    <url>https://raw.githubusercontent.com/shreenathsugar/HPA_XML/master/911407306368148.xml</url>
    <version>1</version>
    <rstart>1326601</rstart>
    <rend>1331600</rend>
  </imeicode>
  <imeicode imei="356554062382664">
    <url>https://raw.githubusercontent.com/shreenathsugar/HPA_XML/master/356554062382664.xml</url>
    <version>1</version>
    <rstart>1331601</rstart>
    <rend>1336100</rend>
  </imeicode>
  <imeicode imei="356584064450367">
    <url>https://raw.githubusercontent.com/shreenathsugar/HPA_XML/master/356584064450367.xml</url>
    <version>1</version>
    <rstart>1215678</rstart>
    <rend>1216100</rend>
  </imeicode>
  <imeicode imei="911311400454103">
    <url>https://raw.githubusercontent.com/shreenathsugar/HPA_XML/master/911311400454103.xml</url>
    <version>1</version>
    <rstart>1202101</rstart>
    <rend>1205100</rend>
  </imeicode>
  <imeicode imei="352724070212211">
    <url>https://raw.githubusercontent.com/shreenathsugar/HPA_XML/master/352724070212211.xml</url>
    <version>1</version>
    <rstart>1205101</rstart>
    <rend>1207100</rend>
  </imeicode>
  <imeicode imei="356554064372143">
    <url>https://raw.githubusercontent.com/shreenathsugar/HPA_XML/master/356554064372143.xml</url>
    <version>1</version>
    <rstart>1200001</rstart>
    <rend>1202000</rend>
  </imeicode>
  <imeicode imei="862156035347696">
    <url>https://raw.githubusercontent.com/shreenathsugar/HPA_XML/master/862156035347696.xml</url>
    <version>1</version>
    <rstart>1291101</rstart>
    <rend>1297100</rend>
  </imeicode>
  <imeicode imei="868518021493764">
    <url>https://raw.githubusercontent.com/shreenathsugar/HPA_XML/master/868518021493764.xml</url>
    <version>1</version>
    <rstart>1209101</rstart>
    <rend>1212100</rend>
  </imeicode>
  <imeicode imei="353953067540347">
    <url>https://raw.githubusercontent.com/shreenathsugar/HPA_XML/master/353953067540347.xml</url>
    <version>1</version>
    <rstart>1336101</rstart>
    <rend>1340600</rend>
  </imeicode>
  <imeicode imei="359670064068569">
    <url>https://raw.githubusercontent.com/shreenathsugar/HPA_XML/master/359670064068569.xml</url>
    <version>1</version>
    <rstart>1223601</rstart>
    <rend>1224100</rend>
  </imeicode>
  <imeicode imei="867466027148241">
    <url>https://raw.githubusercontent.com/shreenathsugar/HPA_XML/master/867466027148241.xml</url>
    <version>1</version>
    <rstart>1202001</rstart>
    <rend>1202100</rend>
  </imeicode>
  <imeicode imei="866225028309587">
    <url>https://raw.githubusercontent.com/shreenathsugar/HPA_XML/master/866225028309587.xml</url>
    <version>1</version>
    <rstart>1340601</rstart>
    <rend>1345100</rend>
  </imeicode>
  <imeicode imei="352996068433955">
    <url>https://raw.githubusercontent.com/shreenathsugar/HPA_XML/master/352996068433955.xml</url>
    <version>1</version>
    <rstart>1215120</rstart>
    <rend>1215600</rend>
  </imeicode>
  <imeicode imei="866392022760080">
    <url>https://raw.githubusercontent.com/shreenathsugar/HPA_XML/master/866392022760080.xml</url>
    <version>1</version>
    <rstart>1277601</rstart>
    <rend>1280100</rend>
  </imeicode>
  <imeicode imei="867802028007319">
    <url>https://raw.githubusercontent.com/shreenathsugar/HPA_XML/master/867802028007319.xml</url>
    <version>1</version>
    <rstart>1280101</rstart>
    <rend>1282600</rend>
  </imeicode>
  <imeicode imei="354786063675181">
    <url>https://raw.githubusercontent.com/shreenathsugar/HPA_XML/master/354786063675181.xml</url>
    <version>1</version>
    <rstart>1232110</rstart>
    <rend>1236100</rend>
  </imeicode>
  <imeicode imei="355259079502046">
    <url>https://raw.githubusercontent.com/shreenathsugar/HPA_XML/master/355259079502046.xml</url>
    <version>1</version>
    <rstart>1245101</rstart>
    <rend>1249600</rend>
  </imeicode>
  <imeicode imei="352954061434025">
    <url>https://raw.githubusercontent.com/shreenathsugar/HPA_XML/master/352954061434025.xml</url>
    <version>1</version>
    <rstart>1261601</rstart>
    <rend>1264600</rend>
  </imeicode>
  <imeicode imei="352840060247940">
    <url>https://raw.githubusercontent.com/shreenathsugar/HPA_XML/master/352840060247940.xml</url>
    <version>1</version>
    <rstart>1264761</rstart>
    <rend>1267600</rend>
  </imeicode>
  <imeicode imei="354324065518892">
    <url>https://raw.githubusercontent.com/shreenathsugar/HPA_XML/master/354324065518892.xml</url>
    <version>1</version>
    <rstart>1345101</rstart>
    <rend>1349100</rend>
  </imeicode>
  <imeicode imei="911426850838611">
    <url>https://raw.githubusercontent.com/shreenathsugar/HPA_XML/master/911426850838611.xml</url>
    <version>1</version>
    <rstart>1282601</rstart>
    <rend>1285100</rend>
  </imeicode>
  <imeicode imei="356430065427477">
    <url>https://raw.githubusercontent.com/shreenathsugar/HPA_XML/master/356430065427477.xml</url>
    <version>1</version>
    <rstart>1303101</rstart>
    <rend>1309100</rend>
  </imeicode>
  <imeicode imei="356430065376070">
    <url>https://raw.githubusercontent.com/shreenathsugar/HPA_XML/master/356430065376070.xml</url>
    <version>1</version>
    <rstart>1309101</rstart>
    <rend>1315100</rend>
  </imeicode>
  <imeicode imei="357870064588309">
    <url>https://raw.githubusercontent.com/shreenathsugar/HPA_XML/master/357870064588309.xml</url>
    <version>1</version>
    <rstart>1315101</rstart>
    <rend>1317100</rend>
  </imeicode>
  <imeicode imei="911417455146047">
    <url>https://raw.githubusercontent.com/shreenathsugar/HPA_XML/master/911417455146047.xml</url>
    <version>1</version>
    <rstart>1212101</rstart>
    <rend>1213100</rend>
  </imeicode>
  <imeicode imei="861227035976098">
    <url>https://raw.githubusercontent.com/shreenathsugar/HPA_XML/master/861227035976098.xml</url>
    <version>1</version>
    <rstart>1349101</rstart>
    <rend>1352600</rend>
  </imeicode>
  <imeicode imei="358156072573064">
    <url>https://raw.githubusercontent.com/shreenathsugar/HPA_XML/master/358156072573064.xml</url>
    <version>1</version>
    <rstart>1352601</rstart>
    <rend>1355100</rend>
  </imeicode>
  <imeicode imei="862101034012131">
    <url>https://raw.githubusercontent.com/shreenathsugar/HPA_XML/master/862101034012131.xml</url>
    <version>1</version>
    <rstart>1207101</rstart>
    <rend>1209100</rend>
  </imeicode>
  <imeicode imei="867935024193160">
    <url>https://raw.githubusercontent.com/shreenathsugar/HPA_XML/master/867935024193160.xml</url>
    <version>1</version>
    <rstart>1213101</rstart>
    <rend>1215100</rend>
  </imeicode>
  <imeicode imei="911430508237010">
    <url>https://raw.githubusercontent.com/shreenathsugar/HPA_XML/master/911430508237010.xml</url>
    <version>1</version>
    <rstart>1228101</rstart>
    <rend>1232100</rend>
  </imeicode>
</devices>