<?xml version="1.0" encoding="utf-8"?>
<devices>
  <imeicode imei="354636098191953">
    <url>https://raw.githubusercontent.com/shreenathsugar/HPA_XML/master/354636098191953.xml</url>
    <version>1</version>
    <rstart>1732601</rstart>
    <rend>1737600</rend>
  </imeicode>
  <imeicode imei="351678096247497">
    <url>https://raw.githubusercontent.com/shreenathsugar/HPA_XML/master/351678096247497.xml</url>
    <version>1</version>
    <rstart>1701301</rstart>
    <rend>1705300</rend>
  </imeicode>
  <imeicode imei="864353043114113">
    <url>https://raw.githubusercontent.com/shreenathsugar/HPA_XML/master/864353043114113.xml</url>
    <version>1</version>
    <rstart>1758601</rstart>
    <rend>1764600</rend>
  </imeicode>
  <imeicode imei="865571034574198">
    <url>https://raw.githubusercontent.com/shreenathsugar/HPA_XML/master/865571034574198.xml</url>
    <version>1</version>
    <rstart>1707301</rstart>
    <rend>1710300</rend>
  </imeicode>
  <imeicode imei="862101034012123">
    <url>https://raw.githubusercontent.com/shreenathsugar/HPA_XML/master/862101034012123.xml</url>
    <version>1</version>
    <rstart>1764601</rstart>
    <rend>1766600</rend>
  </imeicode>
  <imeicode imei="357715074511918">
    <url>https://raw.githubusercontent.com/shreenathsugar/HPA_XML/master/357715074511918.xml</url>
    <version>1</version>
    <rstart>1692301</rstart>
    <rend>1694300</rend>
  </imeicode>
  <imeicode imei="860643046653875">
    <url>https://raw.githubusercontent.com/shreenathsugar/HPA_XML/master/860643046653875.xml</url>
    <version>1</version>
    <rstart>1698301</rstart>
    <rend>1701300</rend>
  </imeicode>
  <imeicode imei="351958103795344">
    <url>https://raw.githubusercontent.com/shreenathsugar/HPA_XML/master/351958103795344.xml</url>
    <version>1</version>
    <rstart>1789240</rstart>
    <rend>1792100</rend>
  </imeicode>
  <imeicode imei="865570034116976">
    <url>https://raw.githubusercontent.com/shreenathsugar/HPA_XML/master/865570034116976.xml</url>
    <version>1</version>
    <rstart>1779101</rstart>
    <rend>1781100</rend>
  </imeicode>
  <imeicode imei="867707031325469">
    <url>https://raw.githubusercontent.com/shreenathsugar/HPA_XML/master/867707031325469.xml</url>
    <version>1</version>
    <rstart>1715801</rstart>
    <rend>1718800</rend>
  </imeicode>
  <imeicode imei="865513032204634">
    <url>https://raw.githubusercontent.com/shreenathsugar/HPA_XML/master/865513032204634.xml</url>
    <version>1</version>
    <rstart>1718801</rstart>
    <rend>1720800</rend>
  </imeicode>
  <imeicode imei="354725081098331">
    <url>https://raw.githubusercontent.com/shreenathsugar/HPA_XML/master/354725081098331.xml</url>
    <version>1</version>
    <rstart>1811101</rstart>
    <rend>1812101</rend>
  </imeicode>
  <imeicode imei="352719095588884">
    <url>https://raw.githubusercontent.com/shreenathsugar/HPA_XML/master/352719095588884.xml</url>
    <version>1</version>
    <rstart>1804102</rstart>
    <rend>1807600</rend>
  </imeicode>
  <imeicode imei="351595110887530">
    <url>https://raw.githubusercontent.com/shreenathsugar/HPA_XML/master/351595110887530.xml</url>
    <version>1</version>
    <rstart>1694301</rstart>
    <rend>1698300</rend>
  </imeicode>
  <imeicode imei="864028036267991">
    <url>https://raw.githubusercontent.com/shreenathsugar/HPA_XML/master/864028036267991.xml</url>
    <version>1</version>
    <rstart>1680101</rstart>
    <rend>1680200</rend>
  </imeicode>
  <imeicode imei="865572032438071">
    <url>https://raw.githubusercontent.com/shreenathsugar/HPA_XML/master/865572032438071.xml</url>
    <version>1</version>
    <rstart>1766601</rstart>
    <rend>1770100</rend>
  </imeicode>
  <imeicode imei="866078043976736">
    <url>https://raw.githubusercontent.com/shreenathsugar/HPA_XML/master/866078043976736.xml</url>
    <version>1</version>
    <rstart>1808001</rstart>
    <rend>1808200</rend>
  </imeicode>
  <imeicode imei="866257037421947">
    <url>https://raw.githubusercontent.com/shreenathsugar/HPA_XML/master/866257037421947.xml</url>
    <version>1</version>
    <rstart>1812102</rstart>
    <rend>1813600</rend>
  </imeicode>
  <imeicode imei="357851080801215">
    <url>https://raw.githubusercontent.com/shreenathsugar/HPA_XML/master/357851080801215.xml</url>
    <version>1</version>
    <rstart>1787101</rstart>
    <rend>1789100</rend>
  </imeicode>
  <imeicode imei="861227035976098">
    <url>https://raw.githubusercontent.com/shreenathsugar/HPA_XML/master/861227035976098.xml</url>
    <version>1</version>
    <rstart>1784101</rstart>
    <rend>1787100</rend>
  </imeicode>
  <imeicode imei="866467038758003">
    <url>https://raw.githubusercontent.com/shreenathsugar/HPA_XML/master/866467038758003.xml</url>
    <version>1</version>
    <rstart>1807801</rstart>
    <rend>1808000</rend>
  </imeicode>
  <imeicode imei="356129106015909">
    <url>https://raw.githubusercontent.com/shreenathsugar/HPA_XML/master/356129106015909.xml</url>
    <version>1</version>
    <rstart>1705301</rstart>
    <rend>1711300</rend>
  </imeicode>
  <imeicode imei="911370251065095">
    <url>https://raw.githubusercontent.com/shreenathsugar/HPA_XML/master/911370251065095.xml</url>
    <version>1</version>
    <rstart>1680000</rstart>
    <rend>1680100</rend>
  </imeicode>
  <imeicode imei="868632048256334">
    <url>https://raw.githubusercontent.com/shreenathsugar/HPA_XML/master/868632048256334.xml</url>
    <version>1</version>
    <rstart>1728801</rstart>
    <rend>1730600</rend>
  </imeicode>
  <imeicode imei="357120093047004">
    <url>https://raw.githubusercontent.com/shreenathsugar/HPA_XML/master/357120093047004.xml</url>
    <version>1</version>
    <rstart>1726801</rstart>
    <rend>1728800</rend>
  </imeicode>
  <imeicode imei="359106080964036">
    <url>https://raw.githubusercontent.com/shreenathsugar/HPA_XML/master/359106080964036.xml</url>
    <version>1</version>
    <rstart>1724801</rstart>
    <rend>1726800</rend>
  </imeicode>
  <imeicode imei="864334048642316">
    <url>https://raw.githubusercontent.com/shreenathsugar/HPA_XML/master/864334048642316.xml</url>
    <version>1</version>
    <rstart>1688301</rstart>
    <rend>1692300</rend>
  </imeicode>
  <imeicode imei="352801081838257">
    <url>https://raw.githubusercontent.com/shreenathsugar/HPA_XML/master/352801081838257.xml</url>
    <version>1</version>
    <rstart>1792101</rstart>
    <rend>1795100</rend>
  </imeicode>
  <imeicode imei="868848042739337">
    <url>https://raw.githubusercontent.com/shreenathsugar/HPA_XML/master/868848042739337.xml</url>
    <version>1</version>
    <rstart>1684801</rstart>
    <rend>1688300</rend>
  </imeicode>
  <imeicode imei="359027081525271">
    <url>https://raw.githubusercontent.com/shreenathsugar/HPA_XML/master/359027081525271.xml</url>
    <version>1</version>
    <rstart>1681301</rstart>
    <rend>1684800</rend>
  </imeicode>
  <imeicode imei="861299034039806">
    <url>https://raw.githubusercontent.com/shreenathsugar/HPA_XML/master/861299034039806.xml</url>
    <version>1</version>
    <rstart>1808201</rstart>
    <rend>1808250</rend>
  </imeicode>
  <imeicode imei="863731049369404">
    <url>https://raw.githubusercontent.com/shreenathsugar/HPA_XML/master/863731049369404.xml</url>
    <version>1</version>
    <rstart>1773101</rstart>
    <rend>1776600</rend>
  </imeicode>
  <imeicode imei="357956081573968">
    <url>https://raw.githubusercontent.com/shreenathsugar/HPA_XML/master/357956081573968.xml</url>
    <version>1</version>
    <rstart>1722801</rstart>
    <rend>1724800</rend>
  </imeicode>
  <imeicode imei="868368037151083">
    <url>https://raw.githubusercontent.com/shreenathsugar/HPA_XML/master/868368037151083.xml</url>
    <version>1</version>
    <rstart>1797101</rstart>
    <rend>1800600</rend>
  </imeicode>
  <imeicode imei="862156035347696">
    <url>https://raw.githubusercontent.com/shreenathsugar/HPA_XML/master/862156035347696.xml</url>
    <version>1</version>
    <rstart>1748601</rstart>
    <rend>1752600</rend>
  </imeicode>
  <imeicode imei="869041027771231">
    <url>https://raw.githubusercontent.com/shreenathsugar/HPA_XML/master/869041027771231.xml</url>
    <version>1</version>
    <rstart>1781101</rstart>
    <rend>1784100</rend>
  </imeicode>
  <imeicode imei="357149082336466">
    <url>https://raw.githubusercontent.com/shreenathsugar/HPA_XML/master/357149082336466.xml</url>
    <version>1</version>
    <rstart>1742601</rstart>
    <rend>1748600</rend>
  </imeicode>
  <imeicode imei="869571049665896">
    <url>https://raw.githubusercontent.com/shreenathsugar/HPA_XML/master/869571049665896.xml</url>
    <version>1</version>
    <rstart>1737601</rstart>
    <rend>1742600</rend>
  </imeicode>
  <imeicode imei="868943035750969">
    <url>https://raw.githubusercontent.com/shreenathsugar/HPA_XML/master/868943035750969.xml</url>
    <version>1</version>
    <rstart>1776603</rstart>
    <rend>1779100</rend>
  </imeicode>
  <imeicode imei="861101031193554">
    <url>https://raw.githubusercontent.com/shreenathsugar/HPA_XML/master/861101031193554.xml</url>
    <version>1</version>
    <rstart>1713301</rstart>
    <rend>1715800</rend>
  </imeicode>
  <imeicode imei="863720043871135">
    <url>https://raw.githubusercontent.com/shreenathsugar/HPA_XML/master/863720043871135.xml</url>
    <version>1</version>
    <rstart>1800601</rstart>
    <rend>1804100</rend>
  </imeicode>
  <imeicode imei="866470037137385">
    <url>https://raw.githubusercontent.com/shreenathsugar/HPA_XML/master/866470037137385.xml</url>
    <version>1</version>
    <rstart>1680201</rstart>
    <rend>1681300</rend>
  </imeicode>
  <imeicode imei="356055091026363">
    <url>https://raw.githubusercontent.com/shreenathsugar/HPA_XML/master/356055091026363.xml</url>
    <version>1</version>
    <rstart>1807701</rstart>
    <rend>1807800</rend>
  </imeicode>
  <imeicode imei="866751038276128">
    <url>https://raw.githubusercontent.com/shreenathsugar/HPA_XML/master/866751038276128.xml</url>
    <version>1</version>
    <rstart>1730601</rstart>
    <rend>1732600</rend>
  </imeicode>
  <imeicode imei="868703032022170">
    <url>https://raw.githubusercontent.com/shreenathsugar/HPA_XML/master/868703032022170.xml</url>
    <version>1</version>
    <rstart>1808251</rstart>
    <rend>1808300</rend>
  </imeicode>
  <imeicode imei="868601031331388">
    <url>https://raw.githubusercontent.com/shreenathsugar/HPA_XML/master/868601031331388.xml</url>
    <version>1</version>
    <rstart>1705301</rstart>
    <rend>1707300</rend>
  </imeicode>
  <imeicode imei="354657103072673">
    <url>https://raw.githubusercontent.com/shreenathsugar/HPA_XML/master/354657103072673.xml</url>
    <version>1</version>
    <rstart>1770101</rstart>
    <rend>1773100</rend>
  </imeicode>
  <imeicode imei="863287042876135">
    <url>https://raw.githubusercontent.com/shreenathsugar/HPA_XML/master/863287042876135.xml</url>
    <version>1</version>
    <rstart>1795120</rstart>
    <rend>1797100</rend>
  </imeicode>
  <imeicode imei="359268072569262">
    <url>https://raw.githubusercontent.com/shreenathsugar/HPA_XML/master/359268072569262.xml</url>
    <version>1</version>
    <rstart>1753780</rstart>
    <rend>1758600</rend>
  </imeicode>
  <imeicode imei="866463035591489">
    <url>https://raw.githubusercontent.com/shreenathsugar/HPA_XML/master/866463035591489.xml</url>
    <version>1</version>
    <rstart>1710854</rstart>
    <rend>1713300</rend>
  </imeicode>
</devices>